<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show you on the map and calculate shuttle ETAs for nearby stops.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow always access to receive notifications when you're near a shuttle stop, even when the app is closed.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>edu.rpi.shuttletracker.openApp</string>
	</array>
</dict>
</plist>
